/*CUSTOM CSS DOCUMENT*/

* {
    font-family: 'Noto Serif', serif;
}

body {
    background: white;
}

/*Frontend Header*/
.header {
    font-size: 0.8em;
    padding: 5px 0 0 0;
    background: wheat;
}

.header > i, a {
    color: #333e70;
}

/*Frontend Footer*/
.footer {
    background: #191426;
    color: white;
    font-size: 0.9em;
    width: 100%;
}

.links {
    background: #211b31;
}

.footer > a {
    color: darkorange;
}

/*Frontend Navbar*/
.navbar {
    background: linear-gradient(#1f1f3e, #2b4375);
    color: white;
    font-weight: bold;
    width: 100%;
}

#stickyheader{
    z-index: 2;
}

@media (min-width: 978px) {
    #stickyheader {
        height: 50px;
        transition-duration: 0.5s;
    }
}

.navbar > div > a > img {
    height: 50px;
}

.navbar a {
    font-size: 1.2em;
    color: white;
}

.carousel-item > img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

@media (min-width: 755px ) {
    .carousel-item > img {
        border-top-left-radius: 120px;
        border-top-right-radius: 120px;
    }
}

#search {
    background: transparent;
    display: none;
    width: 350px;
    float: left;
}

/*Homepage Body section*/
.top-body {
    background: linear-gradient(#2b4375, #4194df);
    color: white;
}

h {
    font-size: 50px;
}

.carousel-item {
    -webkit-transition: transform 2s ease;
    -moz-transition: transform 2s ease;
    -o-transition: transform 2s ease;
    transition: transform 2s ease;
}

.wave1, .wave2 {
    z-index: -1;
    height: 10px;
}

.wave1 > svg > path {
    stroke: none;
    fill: url(#MyGradient1);
}

.wave2 > svg > path {
    stroke: none;
    fill: url(#MyGradient2);
}

.mid-body {
    background: url("../image/mid_body_background1.jpg");
}

.fadeTitle {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    color: navajowhite;
    padding: 20px;
}

/*Gallerypage Body section*/
.gallery {
    background: linear-gradient(#2b4375, #4194df);
    color: white;
}

.gallery_block {
    display: block;
    background: transparent;
    margin: 10px;
    padding: 5px;
    min-width: 260px;
}

.gallery_block:hover{
background: cadetblue;
    border-radius: 10px;
}

.gallery_block h3 {
    color: midnightblue;
}

.gallery_block p {
    color: darkblue;
}

.gallery_block a {
    color: white;
}

.gallery_block > img {
    height: 240px;
    width: 240px;
    margin-left: 10px;
    border-radius: 25px;
}

