/*CUSTOM CSS DOCUMENT*/

* {
    font-family: 'Noto Serif', serif;
}

/*Frontend Header*/
.header {
    font-size: 0.8em;
    padding: 5px 0 0 0;
    background: wheat;
}

.header > i, a {
    color: #333e70;
}

/*Frontend Footer*/
.footer {
    background: #191426;
    color: wheat;
    font-size: 0.9em;
    width: 100%;
}

.links {
    background: #211b31;
}

.footer > a {
    color: darkorange;
}

/*Frontend Navbar*/
.navbar {
    background: linear-gradient(#1f1f3e, #24335d);
    color: white;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 978px) {
    #stickyheader {
        height: 50px;
        transition-duration: 0.5s;
        z-index: 1;
    }
}

.navbar > div > a > img {
    height: 40px;
}

.navbar > a, li > a {
    color: white;
}

.carousel-item > img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

@media (min-width: 755px ) {
    .carousel-item > img {
        border-top-left-radius: 120px;
        border-top-right-radius: 120px;
    }
}

#search {
    background: transparent;
    /*display: none;*/
    width: 350px;
    float: left;
}

/*Homepage Body section*/
.top-body {
    background: linear-gradient(#24335d, #4194df);
    color: wheat;
}

h {
    font-size: 50px;
}

.mid-body{
    background: url("../image/mid_body_background.jpg");
}

/*Gallerypage Body section*/
.gallery {
    background: linear-gradient(#24335d, #333e70);
}

.gallery_block {
    display: block;
    background: linear-gradient(#24335d, #333e70);
    border: 2px outset grey;
    margin: 10px;
    padding: 5px;
    min-width: 260px;
}

.gallery_block h3 {
    color: midnightblue;
}

.gallery_block p {
    color: grey;
}

.gallery_block > img {
    height: 240px;
    width: 240px;
    margin-left: 10px;
    border-radius: 25px;
}

